<div>
  <img class="stock" src="/assets/exchange.jpg">
    <h1 class="overlay"><span>Welcome <%= @user.first_name %> <%= @user.last_name %></span></h1>
</div>
<div class="container">
<div class="col-lg-6 col-lg-offset-3">
    <div>
      <h1>Hello <%= @user.first_name %> <%= @user.last_name %></h1>
      <p>Welcome to your user page.</p>
    </div>
    <div>
      <ul>
        <li>Name: <%= @user.first_name %> <%= @user.last_name %></li>
        <li>email: <%= @user.email %></li>
      </ul>  
    </div>
</div>
</div>