

<div>
	<img class="stock" src="/assets/stock.jpg">
	  <h1 class="overlay"><span>Mutual Fund Portfolio</span></h1>

</div>
<div class="container">	
	<div class="row">
		<h3>Stocks In <%= @mutualfund.name %></h3>
			<br>
			<div class="col-md-6">
				<% @stocks.each do |stock| %>
				<div class="stocks">
					<ul>
						<li><strong>Name</strong>: <%=stock.name %></li>
						<li><strong>Ticker</strong>: <%=stock.ticker %></li>
						<li><strong>Industry</strong>: <%=stock.industry %></li>
						<li><strong>Description</strong>: <%=stock.description %></li>
					</ul>
				</div>	
				<% end %>
			</div>

			<!-- 			turns industry count to percentages manually - chartkick does this automatically for us -->
			<% @industry_counts.each do |key, value| %>
				<% @value = (value/@stocks.length.to_f)*100 %>
				<% "#{key}: #{@value.round(2)}%" %>
			<% end %>

		<div class="container col-md-6">
			<!-- pie chart via chartkick -->
			<%= pie_chart(@industry_counts) %>
		</div>
	</div>

</div>	

