<div class="jumbotron">
		<h1 class="overlay"><span>Portfolio</span></h1>
</div>

<div class="container">	

<!-- Flash Message -->
  <% flash.each do |name, msg| %>
    <div class="alert <%= name == 'error' ? 'alert-danger' : 'alert-info' %>">
      <div class="container">
        <%= msg %>
      </div>
    </div>
  <% end %>

	<div class="row">
		<h2>Stocks In <%= @mutualfund.name %></h2>
		<hr>
			<br>
			<div class="col-md-6">
				<% @stocks.each do |stock| %>
				<div class="stocks">
					<ul>
						<li><h3><%=stock.name %> (<%=stock.ticker %>) </h3></li>
						<li><b>Industry: </b><%=stock.industry %></li>
						<li><b>Description: </b><%=stock.description %></li>
					</ul>
					<br>
				</div>	
				<% end %>
			</div>

		<div class="container col-md-6">
			<!-- pie chart via chartkick -->
			<%= pie_chart(@industry_counts) %>
				
			<!--  FORM TO ADD MF TO USER PORTFOLIO   -->
	  	<% if current_user != nil %>
				<%= form_for @user, {url: add_mutual_fund_path(@user), method: :post} do |f|  %>
					<%= f.hidden_field :id, :value => @user.id %>
					<%= f.hidden_field :mutual_fund_id, :value => params[:id] %>
					<%= f.submit "Add to Portfolio", class: "btn btn-default btn-purple form-control"  %>
				<% end %>
		 <% end %>
 
		</div>
	</div>

</div>	

