<div>
	<img class="stock" src="/assets/stock.jpg">
	  <h1 class="overlay"><span>Mutual Fund Portfolio</span></h1>

</div>
<div class="container">	

<!-- Flash Message -->
  <% flash.each do |name, msg| %>
    <div class="alert <%= name == 'error' ? 'alert-danger' : 'alert-info' %>">
      <div class="container">
        <%= msg %>
      </div>
    </div>
  <% end %>

	<div class="row">
		<h1>Stocks In <%= @mutualfund.name %></h1>
		<hr>
			<br>
			<div class="col-md-6">
				<% @stocks.each do |stock| %>
				<div class="stocks">
					<ul>
						<li><strong>Name</strong>: <%=stock.name %></li>
						<li><strong>Ticker</strong>: <%=stock.ticker %></li>
						<li><strong>Industry</strong>: <%=stock.industry %></li>
						<li><strong>Description</strong>: <%=stock.description %></li>
					</ul>
				</div>	
				<% end %>
			</div>

			<!-- 			turns industry count to percentages manually - chartkick does this automatically for us -->
			<% @industry_counts.each do |key, value| %>
				<% @value = (value/@stocks.length.to_f)*100 %>
				<% "#{key}: #{@value.round(2)}%" %>
			<% end %>

		<div class="container col-md-6">
			<!-- pie chart via chartkick -->
			<%= pie_chart(@industry_counts) %>
				
			<!--  FORM TO ADD MF TO USER PORTFOLIO   -->
	  	<% if current_user != nil %>
				<%= form_for @user, {url: add_mutual_fund_path(@user), method: :post} do |f|  %>
					<%= f.hidden_field :id, :value => @user.id %>
					<%= f.hidden_field :mutual_fund_id, :value => params[:id] %>
					<%= f.submit "Add to Portfolio", class: "btn btn-default btn-purple form-control"  %>
				<% end %>
		 <% end %>
 
		</div>
	</div>

</div>	

