<br>
<div class="container">

	<h1><%= @mutualfund.name %></h1>
	<hr>


		<div>
			<p>
				Stocks In <b><%= @mutualfund.name %></b> <br>
				<br>
				<% @stocks.each do |stock| %>
					<strong>Name</strong>: <%=stock.name %> <br>
					<strong>Ticker</strong>: <%=stock.ticker %><br>
					<strong>Industry</strong>: <%=stock.industry %> <br>
					<strong>Description</strong>: <%=stock.description %> <br>
					<br>
				<% end %>
			</p>
		</div>

</div>