<div class="container">

<!-- Flash Message -->
  <% flash.each do |name, msg| %>
    <div class="alert <%= name == 'error' ? 'alert-danger' : 'alert-info' %>">
      <div class="container">
        <%= msg %>
      </div>
    </div>
  <% end %>

	<div class="row">
		<h2>Stocks In <%= @mutualfund.name %></h2>
		<hr>
			<br>
			<div class="col-md-6">
				<% @mutualfund.stocks.each do |stock| %>
				<div class="stocks">
					<ul>
						<li><h3><%=stock.name %> (<%=stock.ticker %>) </h3></li>
						<li><b>Industry: </b><%=stock.industry %></li>
						<li><b>Description: </b><%=stock.description %></li>
					</ul>
					<br>
				</div>
				<% end %>
			</div>

		<div class="container col-md-6">
			<!-- pie chart via chartkick -->
			<!-- Should show each industry with total dollar investment -->
			<%= pie_chart(@mutualfund.stock_dollar_amounts_by_industry) %>

			<!--  FORM TO ADD MF TO USER PORTFOLIO   -->
	  	<% if current_user %>
				<%= form_for current_user, {url: add_mutual_fund_path(current_user), method: :post} do |f|  %>
					<%= f.hidden_field :id, :value => current_user.id %>
					<%= f.hidden_field :mutual_fund_id, :value => params[:id] %>
					<%= f.submit "Add to Portfolio", class: "btn btn-default btn-purple form-control"  %>
				<% end %>
		 <% end %>

		</div>
	</div>

</div>

