<div>
	<img class="stock" src="/assets/stock.jpg">
	  <h1 class="overlay"><span>Mutual Fund Portfolio</span></h1>

</div>
<div class="container">	
	<div>
		<h3>Stocks In <%= @mutualfund.name %></h3>
			<br>
			<% @stocks.each do |stock| %>
			<div class="stocks">
				<ul>
					<li>Name: <%=stock.name %></li>
					<li>Ticker: <%=stock.ticker %></li>
					<li>Industry: <%=stock.industry %></li>
					<li>Description: <%=stock.description %></li>
				</ul>
			</div>	
			<% end %>


			These iz industry counts: <%=  @industry_counts %> <br>
			Test: <% @industry_counts.each do |key, value| %>
			<% @value = (value/@stocks.length.to_f)*100 %>
			<% @key = key %>
			<%= @key %>
			<%= @value.round(2) %>
			<%= "%" %>
			<% end %>
	</div>
</div>	

