<!DOCTYPE html>
<html>
<head>
  <title>SRIguana</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- adds piechart via chartkick to view page -->
	<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

	<!-- 	google fonts -->
	<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300|Merriweather:400,300|Inconsolata:400,700|Maven+Pro|Questrial|Viga|Rajdhani:400,500|Open+Sans:400,700|Cinzel|Cinzel+Decorative|Alegreya+Sans+SC|Martel+Sans' rel='stylesheet' type='text/css'>>
</head>
<body>
<!-- navbar -->
<div id="wrap">	
	<div class="container" id="center-content">
	  
	</br>  
	  <%= render "shared/navbar" %>
	</div>
	
<%= yield %>
</div>
<footer class="footer">
  <div class="container">
    <p class="copyright">&copy; 2016 Mutual Funds App</p>
  </div>
</footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>